NEXT_PUBLIC_API_URL=http://localhost:5000(exp)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=Your_data
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=Your_data


NEXT_PUBLIC_CLOUDINARY_API_KEY=Your_data
CLOUDINARY_API_SECRET=Your_data